/* BUILD SECTION */

.build-section {
  background-color: $sacramento-state-green;
  background-image: url(../../img/build-bg.png);
  background-size: 200px 244px;
  background-position: calc(50% + 660px) bottom;
  background-repeat: no-repeat;
  &__wrapper {
    padding-top: 140px;
    padding-bottom: 140px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* position: relative; */
  }
  &__left {
    max-width: 445px;
    &::before {
      display: block;
      width: 50px;
      height: 4px;
      background-color: $light-coral;
      margin-bottom: 54px;
      content: "";
    }
  }
  &__heading {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 48px;
    color: $white;
  }
  &__right {
    max-width: 540px;
/*     &::before {
      display: block;
      width: 200px;
      height: 244px;
      position: absolute;
      right: -250px;
      bottom: 0;
      background-image: url(../../img/build-bg.png);
      background-size: 200px 244px;
      background-position: center;
      background-repeat: no-repeat;
      content: "";
    } */
  }
  &__list {
    @include list-unstyled;
  }
  &__item {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 32px;
    &::before{
      padding: 0;
      margin: 0;
      display: block;
      width: 72px;
      height: 72px;
      background-position: center;
      background-size: 72px 72px;
      background-repeat: no-repeat;
      content: "";
    }
    &:nth-child(1)::before {
      background-image: url(../../img/network.png);
    }
    &:nth-child(2)::before {
      background-image: url(../../img/process.png);
    }
    &:nth-child(3)::before {
      background-image: url(../../img/platform.png);
    }
    &:last-child {
      margin-bottom: 0;
    }
    &-content {
      margin-left: 23px;
      max-width: 445px;
    }
    &-heading {
      margin: 0;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 28px;
      color: $light-coral;
    }
    &-text {
      margin: 0;
      margin-top: 16px;
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 25px;
      color: $white;
      mix-blend-mode: normal;
      opacity: 0.8;
    }
  }
}


/* @include breakpoint-down (1675px) {
  .build-section {
    background-image: url(../../img/build-bg-p.png);
    background-size: 100px 244px;
    background-position: right bottom;
    background-repeat: no-repeat;
    &__right {
      &::before {
        display: none;
      }
    }
  }
} */

@include breakpoint-down (1030px) {
  .build-section {
    background-position: right top;
    &__wrapper {
      padding-top: 100px;
      padding-bottom: 100px;
      justify-content: flex-start;
    }
    &__left {
      max-width: 400px;
      margin-right: 30px;
    }
    &__item {
      &-content {
        margin-left: 23px;
        max-width: 400px;
      }
    }
  }
}

@include breakpoint-down (970px) {
  .build-section {
    // background-position: right top;
    &__wrapper {
      width: 100%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-left: auto;
      margin-right: auto;
    }
    &__left {
      margin: 0;
      width: 100%;
      max-width: 800px;
      margin-bottom: 64px;
      &::before {
        margin-bottom: 32px;
      }
    }
    &__right {
      width: 100%;
      max-width: 800px;
    }
    &__item {
      &-content {
        max-width: 450px;
      }
    }
  }
}

@include breakpoint-down (600px) {
  .build-section {
    &__wrapper {
      padding-top: 64px;
      padding-bottom: 64px;
    }
    &__heading {
      width: 64%;
      font-size: 32px;
      line-height: 32px;
    }
    &__item {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 48px;
      &-content {
        width: 100%;
        max-width: 550px;
        text-align: center;
        margin: 0;
      }
      &-heading {
        margin-top: 16px;
      }
      &-text {
        margin-top: 8px;
      }
    }
  }  
}

@include breakpoint-down (370px) {
  .build-section {
    &__heading {
      font-size: 25px;
      line-height: 25px;
    }
  }  
}