/* CONTACT SECTION */

.contact {
  background-color: $midnight-green;
  background-image: url(../../img/contact-bg-left.png), url(../../img/contact-bg-right.png);
  background-repeat: no-repeat, no-repeat;
  background-size: 200px 200px, 200px 225px;
  background-position: calc(50% - 700px) top, calc(50% + 710px) bottom;
}

.contact__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 120px;
}

.contact__left {
  width: 48%;
  margin-right: 15px;
}

.contact__heading {
  margin: 0;
  font-size: 64px;
  line-height: 100px;
  color: $white;
}

.contact__sub-heading {
  margin: 0;
  margin-top: 16px;
  font-size: 32px;
  line-height: 48px;
  color: $light-coral;
}

.contact__list {
  @include list-unstyled;
  margin-top: 32px;
}

.contact__item ~ .contact__item {
  margin-top: 8px;
}

.contact__item {
  display: flex;
  align-items: center;
}

.contact__item span {
  white-space: nowrap;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: $white;
}

.contact__item:nth-child(1):before {
  background-image: url(../../img/network.png);
}

.contact__item:nth-child(2):before {
  background-image: url(../../img/process.png);
}

.contact__item:nth-child(3):before {
  background-image: url(../../img/platform.png);
}

.contact__item::before {
  display: block;
  width: 72px;
  height: 72px;
  margin-right: 23px;
  background-repeat: no-repeat;
  background-size: 72px 72px;
  background-position: center;
  content: "";
}

.contact__right {
  width: 542px;
}

.contact__input {
  width: 100%;
  background-color: transparent;
  border: none;
  margin-bottom: 17px;
  padding-left: 15px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: $white;
  mix-blend-mode: normal;
  opacity: 0.6;
}

.contact__textarea {
  width: 100%;
  height: 80px;
  background-color: transparent;
  border: none;
  margin-bottom: 17px;
  padding-left: 15px;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: -0.115385px;
  color: $white;
  mix-blend-mode: normal;
  opacity: 0.6;
  resize: none;
}

.contact__input:focus, .contact__textarea:focus {
  outline: none;
}

.line {
  display: block;
  width: 100%;
  height: 1px;
  background-color: $white;
  margin-bottom: 24px;
}

.contact__btn {
  display: block;
  padding-top: 9px;
  padding-right: 32px;
  padding-bottom: 9px;
  padding-left: 32px;
  background: #FFFFFF;
  border: 2px solid #FFFFFF;
  border-radius: 24px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #004047;
  transition: background 0.4s ease, color 0.4s ease;
}

.contact__btn:hover {
  background: #004047;
  color: #ffffff;
}

@include breakpoint-down (1150px) {
  .contact {
    background-color: $midnight-green;
    background-image: url(../../img/contact-bg-left.png), url(../../img/contact-bg-right.png);
    background-repeat: no-repeat, no-repeat;
    background-size: 200px 200px, 200px 225px;
    background-position: left -100px top, right -112px bottom;
  }

  .contact__wrapper {
    flex-direction: column;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 112px;
  }

  .contact__heading {
    line-height: 56px;
    text-align: center;
  }
  
  .contact__sub-heading {
    margin-top: 24px;
    text-align: center;
  }
  
  .contact__left {
    margin: 0;
    width: 100%;
  }

  .contact__right {
    width: 100%;
  }

  .contact__list {
    margin-top: 24px;
    margin-bottom: 64px;
    width: 100%;
  }

}

@include breakpoint-down (768px) {
  .contact__wrapper {
    width: 90%;
  }

  .contact__item {
    width: 100%;
  }

  .contact__item span {
    white-space: normal;
    width: 380px;
  }
}

@include breakpoint-down (570px) {
  .contact {
    background-position: left -100px top -300px, right -112px bottom -100px;
  }
  .contact__wrapper {
    width: 100%;
  }
  .contact__item span {
    white-space: normal;
    width: 60%;
  }
  .contact__heading {
    font-size: 48px;
    line-height: 48px;
  }
  
}

@include breakpoint-down (350px) {
  .contact__item span {
    font-size: 15px;
    line-height: 23px;
  }
}